agno>=2.2.10
pypdf
exa_py
qdrant-client
langchain-qdrant
langchain-community
langchain
langchain-text-splitters
streamlit
ollama
beautifulsoup4
langchain-google-cloud-sql-pg
langchain-google-vertexai
psycopg2-binary
google-generativeai
kagglehub
tqdm
Pillow
